@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 
.Satoshi {
  font-family: 'Satoshi', sans-serif;
}
.Poppins {
  font-family: 'Poppins', sans-serif;

}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Georama', sans-serif;
  }
}
.ring-offset-background {
  --tw-ring-offset-color: none !important;
}
.before-login-with:before {
  content: "";
  border-top: 1px solid #ccc;
  position: absolute;
  left: 0;
  right: 0;
  top: 12px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.before-login-with p {
  background: #fff;
  position: relative;
  z-index: 99999;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  padding: 0px 10px;
}
.boder-heading-style:after {
  content: "";
  border-bottom: 1px solid #d5cc65;
  position: absolute;
  left: 0;
  width: 30px;
  bottom: -2px;
}
.backbutton:hover p {
  color: #d5cc65;
}
.backbutton:hover span {
  background: #d5cc65;
  transform: scale(0.8);
}
.backbutton p {
  transition: all 1.1s ease;
}
.backbutton span {
  transition: all 1.9s ease;
}
p.text-white.complete{
  --tw-text-opacity: 1;
  color: #52d152;
}
.bg-white.complete {
  --tw-text-opacity: 1;
  background-color: #52d152;
  border-color: #52d152;
}
input.PhoneInputInput {
  outline: none;
}
.text-yellow{
  color:#d5cc65
}
.w30{
  width: 30rem !important; 
}
.header {
  /* background: #6b57d4; */
}
.long-border:before{
content: "";
display: block;
position: absolute;
inset-block: 0;
margin-block: auto;
width: 290px;
height: 1;
background-color: #881A38;
}
.header.application{
    background: #252525 !important;
    z-index: 999999;
}

.information-overlay {
  position: absolute;
  background: #fff;
  margin: 0px -26px;
  padding: 11px;
  border: 3px solid #3C7783;
  border-top: 0px;
  margin-top: 10px;
}
.dotted {position: relative;}

.dotted:before {
    content: "";
    width: 12px;
    height: 12px;
    background: #3c7783;
    position: absolute;
    top: -7px;
    left: -3px;
    border-radius: 100px;
}
.providers-boxes {
  border: 2px solid #3C7783;
  width: auto;
  padding: 20px 30px;
  font-family: 'Satoshi', sans-serif;
  transition: all 0.3s ease;
  height: fit-content;
}
.providers-boxes:hover {
  background: #3c77830a;
}
.providers-main {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  justify-content: space-between;
  gap: 15px;
}

.providers-boxes-header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
}

.providers-boxes-header button {
  background: url(/img/provider-but.png) center no-repeat;
  background-size: cover;
  padding: 11px 30px;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  top: -10px;
  transition: all 0.5s ease;
}
.providers-boxes-header button:hover {
  background: url(/img/provider-but-selected.png) center no-repeat;
  color: #fff;
}
.providers-boxes h1 {
  color: #252525;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  width: 70%;
 
}

.providers-boxes-premium .box button {
  text-align: left;
  position: relative;
}

.providers-boxes-premium .box button h4 {
  color: #3C7783;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

.providers-boxes-premium .box button h5 {
  color: #252525;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.providers-boxes-premium .box button h5 span {
  color: #252525;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
}

.providers-boxes-premium .box button svg {
  fill: currentColor;
}

.providers-boxes-premium .box button .ChevronDownBack {
  background: url(/img/premium-but.png);
  background-size: cover;
  padding: 8px;
  position: absolute;
  right: -7px;
  width: 30px;
  height: 30px;
}

.providers-boxes-premium .box button:hover .ChevronDownBack {
  background: url(/img/premium-but-hover.png);
  background-size: cover;
  padding: 8px;
  position: absolute;
  right: -7px;
  width: 30px;
  height: 30px;
  transition: all 0.5s ease;
}
.providers-boxes-premium .box button:hover {
  text-decoration: none;
}
.Summary-boxes {display: grid;grid-template-columns: 20% 70% 10%;justify-content: space-between;align-items: center;margin-bottom: 24px;font-family: 'Satoshi', sans-serif;font-size: 16px;}

.Summary-boxes .three {
    text-align: right;
}

.Summary-boxes .two hr {
    border-color: #ccc;
}
button.success-continue {
  background: url(/img/continue.png);
  background-size: cover;
  padding: 10px 98px;
  font-size: 16px;
}
.Payment-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 60px;
}

.Payment-heading img {
    position: absolute;
    left: 0;
}

.Payment-heading span {
    color: #1D4E59;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}
.Conditions-sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 1400px){
  .providers-boxes h1 {
   
    width: 100%;
}
.providers-boxes{

  padding: 20px 20px;
}
}

@media only screen and (max-width: 1200px){
  .providers-main {
  
    grid-template-columns: 32% 32% 32%;
    gap: 18px;
  
}
}

@media only screen and (max-width: 1000px){

  .providers-main {
    grid-template-columns: 48% 48%;
    gap: 18px;
}
}

@media only screen and (max-width: 800px){
  .providers-main {
    grid-template-columns: 100%;
    gap: 18px;
}
.Summary-boxes {
 
  grid-template-columns: 50% 16% 30%;
 
}
.Payment-heading img {
 
  width: 14px;
}

}





@media only screen and (max-width: 480px){
.Providers-headings {
  padding-left: 0px;
}

.Providers-headings span {
  font-size: 12px;
  margin-left: -34px;
  padding: 5px 10px;
  background-size: cover;
  margin-top: 1px;
}

.Providers-headings h3 {
  font-size: 20px;
}

.Providers-headings p {
  font-size: 14px;
}
.Payment-heading span {
  
  font-size: 20px;
 
}
.Conditions-sec {
 
  justify-content: flex-start;
  align-items: flex-start;
 
  flex-direction: column;
}
}